{#
/**
 * @file
 * Default theme implementation for a emergency notification icon html element.
 *
 * Available variables:
 * - url: The URL of the icon sprite file.
 * - id: The ID of the SVG icon being targetted.
 *
 * @ingroup themeable
 */
#}

<svg
    xmlns="http://www.w3.org/2000/svg"
    class="emergency-notification-icon"
    aria-hidden="true"
    focusable="false"
>
  <use xlink:href="{{ url }}#{{ id }}"></use>
</svg>
